@-webkit-keyframes $name {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes $name {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes $name {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.fadeIn {
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  -o-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards; }

body,
html {
  padding: 0;
  margin: 0;
  height: 0;
  font-family: "Merriweather", Georgia, serif; }

body {
  opacity: 0; }

* {
  box-sizing: border-box;
  color: #333333; }

a.logo:hover {
  border-bottom: 0px; }
  a.logo:hover path {
    fill: #339966; }

nav {
  margin-bottom: 20px;
  display: block;
  min-height: 50px;
  position: relative; }
  nav a {
    color: #333333;
    margin: 0; }
    nav a:hover {
      color: #339966; }
  nav .about {
    text-transform: uppercase;
    font-family: "Merriweather Sans", Helvetica Neue, Helvetica sans-serif;
    font-size: 0.9em;
    font-weight: 300;
    display: inline-block;
    float: right;
    position: absolute;
    margin-top: 17px;
    right: 2%; }

.active {
  border-bottom: 1px solid #333333; }

.name {
  margin-top: 0; }

.work {
  float: right;
  margin-right: 2%;
  font-size: 1em;
  margin-top: 8px; }

h1 {
  font-weight: 400;
  margin-bottom: 0;
  font-size: 1.5em;
  font-family: "Merriweather", Georgia, serif; }

.sub {
  margin-top: 0; }

h2 {
  font-size: 1.25em;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 10px; }

h3 {
  font-family: "Merriweather Sans", Helvetica Neue, Helvetica sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 0.75em;
  text-transform: uppercase;
  margin-top: 5px; }

h4 {
  margin-bottom: 0; }

ul {
  padding-left: 20px; }

h5,
ul li {
  clear: both;
  font-weight: 200;
  font-size: 0.9em;
  margin: 0;
  padding: 0;
  line-height: 20px; }

.third {
  width: 32%;
  display: inline-block;
  vertical-align: top; }

p {
  font-weight: 300;
  font-size: 1em;
  line-height: 1.7em; }

a {
  color: #339966;
  text-decoration: none;
  cursor: pointer;
  z-index: 100000; }
  a:hover {
    border-bottom: #339966 1px solid; }
    a:hover h2:hover {
      border-bottom: 0; }
  a.project:hover {
    border-bottom: 0; }

.wrapper {
  width: 40%;
  min-width: 550px;
  margin: 40px auto 0 auto; }

figure {
  width: 120%;
  margin-left: -10%;
  margin-bottom: 40px; }
  figure img {
    width: 100%; }
  figure.half {
    margin-right: 0;
    width: 58%; }
    figure.half.second {
      float: right;
      margin-right: -10%; }

.resume .blurb {
  margin-bottom: 40px; }
.resume .me figcaption {
  float: right; }
.resume h2, .resume h4 {
  margin-top: 0; }
.resume h2 {
  font-size: 1em; }
.resume h3 {
  margin-bottom: 25px;
  text-transform: none;
  font-size: 0.8em; }
.resume h4 {
  font-family: "Merriweather", Georgia, serif;
  margin-bottom: 10px; }
.resume section {
  margin-bottom: 40px; }

section {
  clear: both; }

figcaption {
  font-family: "Merriweather Sans", Helvetica Neue, Helvetica sans-serif;
  font-size: 0.8em;
  font-weight: 200;
  margin-top: 10px;
  margin-bottom: 20px;
  display: block; }

.clearfix {
  clear: both; }

video.mobile-proto {
  float: left;
  max-height: 470px;
  width: 48%;
  margin-right: 2%; }
  video.mobile-proto.second {
    margin-right: 0; }

.content {
  width: 80%;
  max-width: 1000px;
  margin: 50px auto 0 auto; }

.blurb {
  float: right; }

.half {
  float: left;
  width: 50%; }

.project {
  display: inline-block;
  width: 33.33%;
  margin: 20px auto;
  padding-right: 2%;
  vertical-align: top; }
  .project img {
    width: 100%;
    height: auto; }
  .project:hover h2, .project:hover h3 {
    color: #339966; }

.button {
  padding: 20px;
  border: 1px solid #339966;
  color: #339966;
  margin: 0 auto;
  display: block;
  max-width: 50%;
  font-size: 1.25em;
  font-family: "Merriweather", Georgia, serif;
  text-align: center; }
  .button:hover, .button:focus {
    background: #339966;
    color: #fff; }

video {
  width: 100%; }

.video-wrap {
  position: relative; }

.play-btn {
  font-size: 2em;
  color: #6A6F6C;
  position: absolute;
  top: 50%;
  left: 40%;
  z-index: 100000000; }
  .play-btn:hover {
    color: #339966; }

.projnav a:hover {
  border-bottom: 0px; }

.prev-proj {
  position: fixed;
  bottom: 5%;
  left: 5%;
  font-size: 1.2em; }

.next-proj {
  position: fixed;
  bottom: 5%;
  right: 5%;
  font-size: 1.2em; }

.fa-long-arrow-left:hover,
.fa-long-arrow-right:hover {
  color: #339966; }

footer {
  clear: both;
  margin-top: 40px;
  border-top: 1px solid #6A6F6C;
  min-height: 100px;
  margin-right: 2%; }
  footer i {
    margin-left: 5px; }
    footer i:hover {
      color: #339966; }

.nav-left {
  float: left;
  margin-top: 10px;
  font-weight: 100; }
  .nav-left a {
    color: #333333; }
    .nav-left a:hover {
      color: #339966; }

.nav-right {
  float: right;
  margin-top: 10px; }
  .nav-right a:hover {
    border-bottom: 0px; }
  .nav-right h2 {
    display: inline-block; }

@media (max-width: 800px) {
  .project {
    width: 47%; }

  .wrapper {
    min-width: 90%; }

  .button {
    min-width: 80%; } }
@media (max-width: 550px) {
  .project {
    width: 97%; } }

/*# sourceMappingURL=style.css.map */
