html {
  font-family: Crimson Text, serif;
  color: #022114;
}

h1 {
  color: #339966;
  margin-bottom: 0;
}

.content {
  margin-top: 10%;
  display: block;
  margin-left: 10%;
}


a {
  color: #339966;
  text-decoration: none;
}

a:hover {}

p {
  font-size: 1.25em;
  line-height: 1.75;
}

.bio {
  max-width: 500px;
}

ul {
  padding-left: 0;
}

ul li {
  list-style-type: none;
  padding-left: 0;
  margin-right: 20px;
  display: inline-block;
}