$margin-half: 32px;
$margin-quarter: 16px;
$max-width: 80%;
$half-width: 50% - #{$margin-half};
$quarter-width: 25% - #{$margin-quarter};

$green: #07C8A0;
$blue: #22B3FB;
$pink: #FFC3DC;
$red: #FF6272;
$yellow: #FFD769;
$orange: #FF996E;
$white: #FFFFFF;
$black: #1E1E1E;

$font-stack: 'Khula', 'Tahoma', sans-serif;
$font-size-xl: 4em;
$font-size-large: 32px;
$font-size-med: 21px;
$font-size-small: 16px;
$font-size-xs: 8px;

$title-lh: 1em;



$transition: .25s all ease-in;

* {
  box-sizing: border-box;
  color: $black;
  font-family: $font-stack;
  font-weight: 400;
}

body {
  // background-image: url('images/shana.JPG');
  // background-size: cover;
}

.App {
  max-width: $max-width;
  margin: 0 auto;
  position: relative;
}

main {
  margin-top: 100px;
  height: 100%;
}

.home-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 750px;
}

.home {
  width: 60%;
  max-width: 400px;
  position: absolute;
  top:15%;
  left: 50%;
  transform: translate(-50%, 0);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;
}

nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  max-width: $max-width;
  white-space: nowrap;
  z-index: 100;
  text-align:center;

  
  ul {
    padding-left: 0;
    display: inline-block;
    list-style-type: none;
    margin-top: 0;
    text-align:center;


    li {
      display: inline-block;
      margin-left: $margin-quarter;
      vertical-align: top;
      &:hover {
        cursor: pointer;
      }

      &:first-child {
        margin-left: 0
      }
      a {
        display: inline-block;
        padding: $margin-half/2 $margin-half;
        max-width: 400px;
        height: 60px;
        -webkit-transition: all .5s;
        text-align: center;
        font-size: $font-size-med;
        font-weight: 400;

        &:hover {
          height: 80px;
          padding-top: $margin-half*1.2;
          -webkit-transition: height .5s, padding-top .5s, background-color .2s;
          border-bottom: none;
          text-decoration: none;

          &.nav-lettering {
            background-color: $pink;
          }

          &.nav-type {
            background-color: $blue; 
          }

          &.nav-home {
            background-color: $green; 
          padding-top: $margin-half*1;
          }

          &.nav-product {
            background-color: $orange;
          }
          &.nav-library {
            background-color: $red;
          }
        }

        
      }
    }
  }
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: $margin-quarter;
  a {
    font-weight: 400;
    display: inline-block;
    width: 20%;
    text-align: center;
    flex: auto;

    &:hover {
      text-decoration: underline;
    }
  }
}

a {
  text-decoration: none;
  font-weight: 600;   
  -webkit-transition: $transition;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  &.active {
    font-weight: 600;
  }
}



.about {
  font-size: $font-size-med;
  list-style-type: none;
  position: relative;
  display: block;
  margin-bottom: $margin-quarter*1.5;
  max-width: 400px;


  &-line {
    display: inline-block;
    white-space:nowrap;
  }

}

.smallcaps {
  position: relative;
  font-size: $font-size-small;
  font-weight: 700;
  letter-spacing: 4px;
  display: block;
  // margin-top: $margin-half;
  // -webkit-transform: rotate(-90deg);
  // left: -42px;
  // top: 41px;
  // margin-top: -20px;
}



h1 {
  font-size: $font-size-xl;
  line-height: $title-lh;
  font-weight: 700;
  margin-bottom: $margin-quarter;
  display: inline-block;
}

h2 {
  font-size: $font-size-med;
  font-weight: 800;
  margin: 0 auto;
  margin-bottom: $margin-quarter/8;
  width: 60%;
}

h3{
  font-size: $font-size-med;
  font-weight: 400;
  margin-top: 0;
}

.main {
  width: 100%;
  height: 100%;
}
.feed {
  padding-bottom: $margin-half*2;
}

.blockquote {
  &:before {
    content:open-quote;
    margin-left: -16px
  }
  &:after {
    content:close-quote;
  }
  text-align: center;
  margin: 0 auto $margin-half auto;
  width: 60%;
  font-size: $font-size-large;
}

p {
  text-align: left;
  margin: 0 auto $margin-half auto;
  font-size: $font-size-med;
  width: 60%;
  margin-bottom: $margin-half;

}

img {
  margin-bottom: $margin-half *2;
  display: inline-block;
  vertical-align: top;

}

.half {
  &-left {
    margin-right: $margin-half *2;
    float: left;
  }
  width: -webkit-calc(#{$half-width});
  width: -moz-calc(#{$half-width});
  width: calc(#{$half-width});
  display: inline-block;
  vertical-align: top;
}

.wide {
  width: 100%;
}

// LIBRARY CSS

.list {
  display: inline-block;
  text-align: center;
}
.book {
  margin-right: 5%;
  display: inline-block;
  vertical-align: middle;
  width: -webkit-calc(#{$quarter-width});
  width: -moz-calc(#{$quarter-width});
  width: calc(#{$quarter-width});

  &:nth-child(3n) {
    margin-right: 0;
  }
  img {
    width: 100%;
    height: auto;

    box-shadow: -10px 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 2px 4px 4px 2px;
      -webkit-transition: $transition;

    &:hover {
      transform: scale(1.02);
      -webkit-transition: $transition;
    }
  }

  &-info {
    width: 50%;
    display: inline-block;
  }
}




.wide-vid {
  width: 80%;
  margin: $margin-half auto;

  

  p {
    width: 100%;
  }




  video {
    position: absolute;
    width: 87%;
    left: 7%;
    margin-top: 26%;
    border: 2px solid black;

    margin-right: $margin-quarter;
  }

}
.vid-screen {
  position: relative;
  width: 40%;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: $margin-half;

  img {
    position: relative;
    width: 100%;
    z-index: 10;
    pointer-events: none;
    margin-bottom: 0;
  }
}
.wide-right {
  width: 40%;
  display: inline-block;
  vertical-align: middle;
  margin-left: $margin-half*2;

  h2 {
    width: auto;
  }
}
.wide h2 {
  margin-top: $margin-quarter;
  display: inline-block;
  width: 30%;
  margin-right: $margin-quarter;

}

.playModule {
  width: 100%;
  background-color: $orange;
  padding: $margin-quarter;
  margin-bottom: $margin-half;
  position: relative;
  -webkit-transition: $transition;

  &:hover {
    transform: scale(1.05);
    -webkit-transition: $transition;
    cursor: pointer;
  }

}

.play-info {
  pointer-events: none;
}

// .playBtn {
//   position: absolute;
//   width: 0;
//   height: 0;
//   top: $margin-quarter;
//   right: $margin-half*2;
//   display: inline-block;
//   pointer-events: none;
//   &:before {
//     content: '';
//     display: inline-block;
//     width: 40px;
//     height: 40px;
//     background: url('./images/play.svg');
//     background-size: cover;
//   }
// }

.proto-num {
  display: block;
}

.appIcon {
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .vid-screen{
    width: 50%;
  }

  .wide-right {
    margin-left: $margin-quarter;
  }
}

@media (max-width: 900px) {
  .half {
    width: 100%;
  }
  p, h2 {
    width: 80%;
  }

  .wide-vid {
    width: 100%;
  }

  .wide-right {
    margin-left: $quarter-width;
  }

  .book {
    width: -webkit-calc(#{$half-width});
    width: -moz-calc(#{$half-width});
    width: calc(#{$half-width});

    &:nth-child(even) {
      margin-right: 0;
    }
    &:nth-child(odd) {
      margin-right: $margin-half;
    }
  }
}
@media (max-width: 750px) {

  nav ul li {

    a {
    padding: 16px 8px;
    }
  }
  .wide-vid {
    width: 70%;
  }
  .vid-screen {
    width: 100%;
  }
  .wide-right {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 650px) {
  nav ul li {
    margin-left: 4px;
    a {
    font-size: $font-size-small;
    }
  }

  #logo {
    width: 24px;
    height: 24px;
  }

  .home {
    width: 100%;
  }
}
@media (max-width: 450px) {

  .book {
    width: 80%;

    &:nth-child(even) {
      margin-right: 0;
    }
    &:nth-child(odd) {
      margin-right: 0;
    }
  }

  img {
    margin-bottom: $margin-quarter;
  }

  .wide-vid,
  p, h2 {
    width: 100%;
  }

  footer a {
    font-size: $font-size-xs;
    }
}





.circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: $pink;
}

