@font-face {
    font-family: "LarkBold";
    src: url("./fonts/Lark-Bold_web.woff");
}

@font-face {
    font-family: "LarkLight";
    src: url("./fonts/Lark-Light_web.woff");
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  color: #1B1B1B;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  height: 100%;
  width: 100%;
}


.header {
  display: block;
  height: 100%;
  /*background-color: #00AC81;*/
}

.info {
  max-width: 60%;
  width: 60%;
  /*position: absolute;*/
  right: 0;
  left: 0;
  /*top: 32%;*/
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;

}

a {
  color: black;
  text-decoration: none;
  border-bottom: 2px solid black;
  padding-bottom: 2px;
}

a:hover {
  color: white;
  border-color: white;
}

h1 {
  font-family: "LarkBold";
  font-weight: 100;
  font-size: 2.4em; 
  margin-bottom: 24px;

}

h1 a {
  padding-bottom: 0px;
  border-bottom: 4px solid black;
}

h2 {
  font-family: "LarkLight";
  font-weight: 100;
  font-size: 200%;
  line-height: 1.5;
  margin: 0 auto;
  margin-bottom: 24px;
}

svg {
  transform: rotate(-15deg);
  height: 40%;
  /*position: fixed;*/
  left: 0;
  /*top: -30%;*/
  display: none;
}


path {
  stroke-dasharray: 1000;
  stroke-dashoffset:1000;
  animation: dash 60s linear;
  animation-iteration-count: infinite;

}


.images {
  display: block;
  width: 85%;
  margin: 0 auto;

}

ul {
  display: flex;
  flex-flow: column wrap;
  list-style: none;
  height: 3000px;
  padding-left: 0;
}

li {
  left: 0%;
  width: 48%;
  margin: 0 4% 4% 0;
  flex-grow: 4;
}

li:nth-child(even) {

  left: 52%;
  margin-right: 0;
}

caption {
  width: 100%;
}

@keyframes dash {
  50% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset:-1000;
  }
}

@media only screen and (max-width: 1800px) {
  svg {
    top: -40%;
  }

  .info {
    width: 100%;
  }

}

@media only screen and (max-width: 1200px) {
  svg {
    top: -10%;
  }

  h1 {
    font-size: 2.4em;
    margin-bottom: 16px;
  }

  h2 {
    line-height: 1.2em;
  }

  .info {
    width: 80%;
  }
}

@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  .info {
    text-align: left;
    position: relative;
    bottom: 0;
    margin-top: -20px;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.6em;
    line-height: 1.3;
  }

  svg {
    position:static;
    top: 10%;
  }
}
